body {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    background-color: #ffebcd;
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}

.main-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 70px;
}

.canvas-container {
  border: solid 1px black;
  width: 500px;
  height: 500px;
  max-width: 500px;
  max-height: 500px;
  display: flex;
  flex-wrap: wrap;
  user-select: none; /* Prevents browser from interpreting click + drag event when user is drawing */
}

.tools-container {
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    background-color: #f5f5dc;
    padding: 20px;
}

.tools-container h1{
    font-size: large;
    font-weight: 600;
}

.color-picker-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-display {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 6px;
}

#colorInput {
  width: 0;
  height: 0;
  pointer-events: none;
  opacity: 0;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sliderValue {
  font-size: small;
  font-weight: 600;
}

.square {
  border: 1px solid black;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
}